docs/generated/markup.dtd

<?xml version="1.0" encoding="UTF-8" ?>

<!ELEMENT tag-span-markup (tagdef|span|keep-space)+>
<!ELEMENT tagdef EMPTY>
<!ELEMENT span (#PCDATA|span|keep-space|image|xlink|anchor|newline|breakline)*>
<!ELEMENT newline EMPTY>
<!ELEMENT breakline EMPTY>
<!ELEMENT anchor EMPTY>
<!ELEMENT keep-space (#PCDATA|span|keep-space)*>
<!ELEMENT image      (#PCDATA|span|keep-space)*>
<!ELEMENT xlink      (#PCDATA|span|keep-space)*>

<!ATTLIST tagdef
  name          CDATA                    #REQUIRED
  style         (italic|normal)          #IMPLIED
  weight        (bold|normal)            #IMPLIED
  indent        CDATA                    #IMPLIED
  family        (monospace|serif|sans)   #IMPLIED
  underline     (single|double|none)     #IMPLIED
  left_margin   CDATA                    #IMPLIED
  right_margin  CDATA                    #IMPLIED
  wrap_mode     (word|none)              #IMPLIED
  background    CDATA                    #IMPLIED
  foreground    CDATA                    #IMPLIED
  justification (left|right|center|fill) #IMPLIED
  stretch       (expanded|normal)        #IMPLIED
  scale         CDATA                    #IMPLIED
  >

<!ATTLIST image
  file  CDATA #IMPLIED
  stock CDATA #IMPLIED
  size  CDATA #IMPLIED
  >

<!ATTLIST span tag CDATA #REQUIRED>
<!ATTLIST anchor name CDATA #REQUIRED>
<!ATTLIST xlink ref CDATA #REQUIRED>
